datacenter = "{{ datacenter }}"
data_dir   = "{{ nomad_data_dir }}"

client {
  enabled = true
  servers = {{ nomad_retry_join | map('regex_replace', '^(.*)$', '\1:4647') | list | to_json }}
}

plugin "docker" {
  config {
    allow_runtimes = ["runc", "sysbox-runc"]

    volumes {
      enabled = true
    }

    # Pull timeout — Sysbox images can be large
    pull_activity_timeout = "10m"
  }
}
