datacenter = "{{ datacenter }}"
data_dir   = "{{ nomad_data_dir }}"

server {
  enabled          = true
  bootstrap_expect = {{ consul_bootstrap_expect }}

  server_join {
    retry_join = {{ nomad_retry_join | map('regex_replace', '^(.*)$', '\1:4648') | list | to_json }}
  }
}
